/node_modules/
/.idea/
*.iml
test/helper/config.bk.js
package-lock.json

coverage

_artifacts/
.vs/
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
packages/
FakesAssemblies/
TestResults/
*.suo
*.user
_ReSharper.*/
*resharper.user